.main{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.top{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid green;
    box-shadow: 0 8px 6px -6px black;
    z-index: 2;
}

.middle{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 140px solid green;
    box-shadow: 0 8px 6px -6px black;
    z-index: 1;
}

.bottom{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 125px solid green;
    box-shadow: 0 8px 6px -6px black;
    z-index: 0;
}

.trunk{
    width: 50px;
    height: 100px;
    background: brown;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

/* .light
{
    width: 20px;
    height: 100px;
    background: red;
    border-radius: 100px / 50px;
} */