/* https://css-tricks.com/the-shapes-of-css/ */
.main{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.top{
    /* self styling */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid green;
    box-shadow: 0 8px 6px -6px black;
    /* container styling */
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(3, 25px);
    align-items: end;
    justify-items: center;
    justify-content: center;
}

.middle{
    /* self styling */
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 140px solid green;
    box-shadow: 0 8px 6px -6px black;
    /* container styling */
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(3, 50px);
    align-items: end;
    justify-items: center;
    justify-content: center;
}

.bottom{
    /* self styling */
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 125px solid green;
    box-shadow: 0 8px 6px -6px black;
    /* container styling */
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(3, 80px);
    align-items: end;
    justify-items: center;
    justify-content: center;
}

.light
{
    width: 10px;
    height: 20px;
    background: red;
    border-radius: 5px / 10px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /* https://code-boxx.com/css-blinking-animation/ */
    animation: blinking 1s infinite;
}

.light1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate */
    transform: rotate(45deg)
}
.light2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate */
    transform: translateY(10px);
}
.light3{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    transform: rotate(-45deg)

}

.ornament{
    width: 20px;
    height: 20px;
    background: red;
    opacity: 100%;
    border-radius: 50%;
}

.ornament1, .ornament-shine{
    width: 20px;
    height: 20px;
    opacity: 50%;
    border-radius: 50%;
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
    transform: translate(-10px, 20px);
}

.ornament-shine{
    /* https://totallytransparent.tumblr.com/post/70812251778/totallytransparent-transparent-glitter-gif */
    background-image: url("sparkle.gif");
}

.ornament1{
    background: blue;
}

.ornament2, .ornament-shine2{
    width: 20px;
    height: 20px;
    opacity: 50%;
    border-radius: 50%;
    grid-column: 3 / 4; 
    grid-row: 1 / 2;
    transform: translate(-10px, 20px);
}

.ornament-shine2{
    background-image: url("sparkle.gif");
}

.ornament2{
    background: blue;
}

.particle {
    background-color: GhostWhite;
    border-radius: 50%;
    height: 5px;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 5px;
    z-index: 99;
  }

.trunk{
    width: 50px;
    height: 100px;
    background: brown;
    grid-row: 4 / 5;
    grid-column: 2 / 3;   
}

/* https://code-boxx.com/css-blinking-animation/ */
@keyframes blinking {
    0%{
      background-color: yellow;
    }
    /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
    50%{
      background-color: #55d66b;
      border: 5px solid #126620;
    }
    */
    100%{
      background-color: orange;
    }
  }
